.month {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: green;
  text-align: center;
}

.date_Content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.day_In_Week {
  text-align: center;
  width: 55px;
}

.day_In_Month {
  text-align: center;
  width: 55px;
}